@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: 198 68% 99%;
    --foreground: 198 51% 1%;
    --muted: 198 7% 86%;
    --muted-foreground: 198 13% 26%;
    --popover: 198 68% 99%;
    --popover-foreground: 198 51% 1%;
    --card: 198 68% 99%;
    --card-foreground: 198 51% 1%;
    --border: 198 4% 89%;
    --input: 198 4% 89%;
    --primary: 198 100% 45%;
    --primary-foreground: 0 0% 100%;
    --secondary: 198 14% 80%;
    --secondary-foreground: 198 14% 20%;
    --accent: 198 22% 72%;
    --accent-foreground: 198 22% 12%;
    --destructive: 0 91% 36%;
    --destructive-foreground: 0 91% 96%;
    --ring: 198 100% 45%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 227 15% 4%;
    --foreground: 198 15% 97%;
    --muted: 225 24% 8%;
    --muted-foreground: 360 0% 50%;
    --popover: 227 15% 7%;
    --popover-foreground: 198 15% 97%;
    --card: 227 15% 4%;
    --card-foreground: 198 15% 97%;
    --border: 210.73 15% 15.88%;
    --input: 212 35% 27%;
    --primary: 198 100% 45%;
    --primary-foreground: 0 0% 100%;
    --secondary: 225 24% 16%;
    --secondary-foreground: 198 2% 72%;
    --accent: 211.76 73.91% 27.06%;
    --accent-foreground: 58.87 0% 75%;
    --destructive: 348.68 78% 59%;
    --destructive-foreground: 45.28 100% 89.04%;
    --ring: 198 100% 45%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
